@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Martel */

@font-face {
  font-family: "martel";
  src: url("../public/MartelSans-Regular.ttf");
}
@font-face {
  font-family: "martel-semibold";
  src: url("../public/MartelSans-SemiBold.ttf");
}
@font-face {
  font-family: "martel-bold";
  src: url("../public/MartelSans-Bold.ttf");
}
@font-face {
  font-family: "martel-extrabold";
  src: url("../public/MartelSans-ExtraBold.ttf");
}
@font-face {
  font-family: "martel-black";
  src: url("../public/MartelSans-Black.ttf");
}



/* Haskoy */
@font-face {
  font-family: "haskoy";
  src: url("../public/Haskoy-Regular.ttf");
}
@font-face {
  font-family: "haskoy-bold";
  src: url("../public/Haskoy-Bold.ttf");
}
@font-face {
  font-family: "haskoy-light";
  src: url("../public/Haskoy-Light.ttf");
}
@font-face {
  font-family: "haskoy-semibold";
  src: url("../public/Haskoy-SemiBold.ttf");
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
